<section id="header" class="header">
  <div class="logo">
    <a href="/"><img src="/images/Angelina_transparent2.png" alt="Logo" /></a>
  </div>

  <nav class="navbar">
    <a href="/homepage">Home</a>
    <div class="dropdown">
      <a href="/shop">Shop</a>
      <div class="dropdown-content">
        <a href="/facecare">Facecare</a>
        <a href="/bodycare">Bodycare</a>
        <a href="/makeup">Makeup</a>
        <a href="/Perfume">Perfume</a>
        <a href="/shop">Shop All</a>
      </div>
    </div>
    <a href="/aboutus">About Us</a>
  </nav>

  <div class="header-right">
    
           <div class="search-box">
             <input type="text" id="searchInput" placeholder="Search product..." />
             <button id="searchBtn"><i class="fas fa-search"></i></button>
           </div>
    <div class="icons">
      <a href="/shoppingCart" class="fa-solid fa-cart-shopping"></a>
      <a href="/login" class="fa-regular fa-user"></a>
    </div>
  </div>
</section>
